{% extends 'admin_layout.html' %}
{% load static from static %}

{% block content %}
<div class="section">
    <div class="columns is-vcentered">
        <div class="column has-text-centered">
            <div class="title color-orange">
                Жалобы
            </div>
            <hr class="dropdown-divider">
            {% for complaint in complaints %}
            <div class="box">
                <div class="cart">
                    <div class="cart-content">
                        <div class="columns is-vcentered">
                            <div class="column">
                                <div class="subtitle">
                                    {{ complaint.violation }}
                                </div>
                            </div>
                            <div class="column">
                                <div class="subtitle">
                                    {{ complaint.date }}
                                </div>
                            </div>
                            <div class="column">
                                <div class="subtitle">
                                    {{ complaint.user }}
                                </div>
                            </div>
                        </div>
                        <div class="subtitle">
                            {{ complaint.text_violation }}
                        </div>
                        <div class="columns is-vcentered">
                            <div class="column has-text-centered">
                                <a href="{% url 'staff:complaint' complaint.pk %}"
                                   class="button is-light is-success is-fullwidth is-medium">
                                    Смотреть
                                </a>
                            </div>
                            <div class="column has-text-centered">
                                <a href="{% url 'staff:admin' %}?action=delete&pk={{complaint.pk}}"
                                   class="button is-danger is-light is-fullwidth is-medium">
                                    Отклонить
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}