{% extends 'users_layout.html' %}
{% load static from static %}

{% block content %}
<div class="columns is-centered mt-3">
    <div class="column is-4">
        <div class="box has-background-info-light">
            <form class="site-form has-background-light" method="post">
                <div class="title is-2 has-text-centered has-text-black">Регистрация</div>
                {% csrf_token %}

                {% for field in form %}

                <div class="field">
                    <label for="{{ field.id_for_label }}" class="label">
                        {{ field.label }}
                    </label>
                    <div class="control">
                        {{ field }}
                    </div>

                    {% endfor %}

                    {% if form.errors %}
                    <ul>
                        {% for error in form.errors %}
                            <li>{{ error.text }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="has-text-centered">
                    <button type="submit" class="button color-orange my-3">
                        Зарегистрироватьсяx`
                    </button>
                </div>
                <div class="has-text-centered">
                    <a class="is-ghost is-info" href="{% url 'users:log_in' %}">
                        На страницу входа
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}