.head {
    width: 550px;
    height: 190px;
}

.channel-img {
    width: 70%;
}

.form-box {
    margin: 0 auto;
    width: 60%;
}


.form-box button {
    width: 30%;
}

.post_pk {
    display: none;
}

.user_icon {
    margin: 0 auto;
}

.navbar-menu {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.navbar-end {
    width: 40%;
    margin: 0;
}

.input_custom {
    width: 450px;
}

.comment_edit label {
    display: none;
}

.cart_comment {
    width: 80%;
    margin: 0 auto;
}

.cart-parent {
    width: 60%;
    border-left: 1px solid darkgrey;
}

.parent-form label {
    display: none;
}

.complain-form label {
    display: none;
}

.form-punishment label {
    display: none;
}

body {
    background-size: cover;
    background-image: url("../uploads/Group 1.png");
    background-attachment: fixed;
}

.logo {
    margin: 0;
    width: 50px;
    height: 50px;
    background-image: url("../uploads/Logo.png");
    background-size: cover;
}

.logo_name {
    font-family: Kanit;
    font-size: 56px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -0.01em;
    text-align: center;
}

.has-mycolor {
    background-color: #e49e18;
    color: #ffffff;
    border-color: #e49e18;

}