{% extends 'base_layout.html' %}
{% load static from static %}

{% block content %}
<sections class="section">
    <div class="box">
        {% for channel in channels %}
        <div class="card mt-3">
            <div class="cart-content">
                <a href="{% url 'video_hosting:host_channel' channel.pk %}">
                    <div class="media">
                        <div class="media-content">
                            <div class="columns is-vcentered">
                                <div class="column">
                                    <figure class="image is-128x128 ml-6">
                                        <img src="{{channel.image.url}}" alt=""
                                             class="image post-imag">
                                    </figure>
                                </div>
                                <div class="column">
                                    <div class="title has-text-left has-text-black is-4">
                                        {{ channel.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</sections>
{% endblock %}