{% extends 'base_layout.html' %}
{% load static from static %}

{% block content %}
<section class="section">
    <div class="container is-centered">

        <!--        ===========ШАПКА================   -->

        <div class="columns is-vcentered">
            <div class="column">
                <div class="box head">
                    <div class="columns">
                        <div class="column">
                            <figure>
                                <img src="{{ data.image.url }}" alt="" class="image is-centered post-imag channel-img">
                            </figure>
                        </div>
                        <div class="column">
                            <div class="title has-text-grey-dark is-3 mt-3">
                                {{ data.name }}
                            </div>
                            <div class="has-text-grey-dark has-text-weight-semibold is-6">
                                {{ data.slug }}
                            </div>
                            <div class="dropdown is-hoverable">
                                <div class="dropdown-trigger">
                                    <div class="subtitle has-text-grey-dark is-5 has-text-centered" aria-haspopup="true"
                                         aria-controls="dropdown-menu4">
                                        <div class="columns is-vcentered">
                                            <div class="column is-four-fifths">
                                                <span>Описание</span>
                                            </div>
                                            <div class="column">
                                               <span class="icon is-small">
                                                    <ion-icon name="chevron-forward-outline"></ion-icon>
                                               </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                    <div class="dropdown-content">
                                        <div class="dropdown-item">
                                            <div class="subtitle has-text-grey-dark has-text-weight-semibold is-6 has-text-centered">
                                                {{data.description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column has-text-right">
                {% if request.user != data.author %}
                <form method="post" action="{% url 'video_hosting:saved_channel' data.pk %}">
                    {% csrf_token %}
                    {% if request.user not in data.saved_channel.all %}
                    <button class="button is-info is-light is-medium" type="submit">
                        Подписаться
                    </button>
                    {% else %}
                    <button class="button is-danger is-light is-medium" type="submit">
                        Отписаться
                    </button>
                    {% endif %}
                </form>
                {% else %}
                <div class="dropdown is-hoverable mr-5">
                    <div class="dropdown-trigger">
                        <div class="button subtitle has-text-grey-dark is-5 has-text-centered" aria-haspopup="true"
                             aria-controls="dropdown-menu4">
                            <div class="columns is-vcentered">
                                <div class="column is-four-fifths">
                                    <span>Управление</span>
                                </div>
                                <div class="column">
                                    <span class="icon is-small">
                                        <ion-icon name="chevron-down-outline"></ion-icon>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <a class="navbar-item" href="{% url 'video_hosting:create_video' %}?pk_channel={{data.pk}}">
                                Загрузить видео
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <!--        ==============================================        -->

        <!--        ================== ПОСТЫ ===============     -->

        <div class="box">
            <div class="columns is-centered is-multiline">
                {% for post in posts %}
                <div class="column is-3">
                    <div class="card has-text-centered">
                        <div class="card-content">
                            <a href="{% url 'video_hosting:video' post.pk %}">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="container pb-4 mb-3">
                                            <img src="{{post.preview.url}}" alt="" class="image is-centered post-imag">
                                        </div>
                                        <div class="title has-text-black is-3">
                                            {{ post.name }}
                                        </div>
                                        <div class="columns">
                                            <div class="column">
                                                <a href="{% url 'video_hosting:host_channel' post.channel.pk %}"
                                                   class="subtitle has-text-grey-dark has-text-weight-semibold is-6">
                                                    by {{ post.channel }}
                                                </a>
                                            </div>
                                            <div class="column">
                                                <div class="subtitle has-text-grey-dark has-text-weight-semibold is-6">
                                                    {{ post.date|timesince }} назад
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!--        ========================================     -->

    </div>
</section>
{% endblock %}