{% extends 'base_layout.html' %}
{% load static from static %}

{% block content %}
<section class="section">
    <div class="container is-centered">


        <div class="modal mod">
            <div class="modal-background" onclick="addDeleteModal()"></div>
            <div class="modal-content">
                <div class="box has-text-centered">
                    <div class="title">
                        Подтвердите удаление
                    </div>
                    <a href="{% url 'video_hosting:video' post.pk %}?action=delete"
                       class="button is-danger">Подтвердить</a>
                    <button class="button" onclick="removeDeleteModal()">Отмена</button>
                </div>
            </div>
            <div class="modal-close is-large" onclick="removeDeleteModal()"></div>
        </div>


        <div class="columns is-centered">
            <div class="column is-three-quarters">
                <div class="box background-black">
                    <figure class="has-text-centered">
                        <video src="{{post.video.url}}" style="width: 1000px; height: 650px; border-radius: 20px"
                               poster="{{post.preview.url}}" controls></video>
                    </figure>
                    <div class="title has-text-white is-3 has-text-centered mt-3">
                        {{ post.name }}
                    </div>
                    <div class="columns is-vcentered">

                        <!--                ========== АВТОР==================-->

                        <div class="column is-two-fifths">
                            <div class="columns is-vcentered">
                                <div class="column">
                                    <a href="{% url 'video_hosting:host_channel' post.channel.pk %}"
                                       class="subtitle has-text-white has-text-weight-semibold is-5">
                                        {{ post.channel }}
                                    </a>
                                </div>
                                {% if request.user != post.channel.author %}
                                <div class="column">
                                    <span>
                                        <form method="post"
                                              action="{% url 'video_hosting:saved_channel' post.channel.pk %}?pk={{post.pk}}&page_video=True">
                                            {% csrf_token %}
                                            {% if request.user not in post.channel.saved_channel.all %}
                                            <button class="button color-orange  is-medium" type="submit">
                                                Подписаться
                                            </button>
                                            {% else %}
                                            <button class="button color-orange is-medium" type="submit">
                                                Отписаться
                                            </button>
                                            {% endif %}
                                        </form>
                                    </span>
                                </div>
                                {% else %}
                                <div class="dropdown is-hoverable mr-5">
                                    <div class="dropdown-trigger">
                                        <div class="button subtitle color-orange has-text-black is-5 has-text-centered"
                                             aria-haspopup="true"
                                             aria-controls="dropdown-menu4">
                                            <div class="columns is-vcentered">
                                                <div class="column is-four-fifths">
                                                    <span>Управление</span>
                                                </div>
                                                <div class="column">
                                                <span class="icon is-small">
                                                    <ion-icon name="chevron-down-outline"></ion-icon>
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown-menu" role="menu">
                                        <div class="dropdown-content background-black">
                                            <a class="navbar-item has-text-white"
                                               href="{% url 'video_hosting:edit_video' post.pk %}">
                                                Изменить
                                            </a>
                                            <a onclick="addDeleteModal()"
                                               class="navbar-item has-text-white">
                                                Удалить
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <!--                ======================================          -->


                        <!--                ============= ЛАЙКИ =========================-->
                        <div class="column has-text-right">
                            <div class="columns is-vcentered">
                                <div class="column has-text-right">
                                    <form method="post" action="{% url 'video_hosting:like' post.pk %}">
                                        {% csrf_token %}
                                        <button class="button is-ghost has-text-white is-large {% if user in post.likes.all %} has-text-success {% endif %}"
                                                type="submit">
                                            <ion-icon name="heart-outline"></ion-icon>
                                            <span class="subtitle has-text-white has-text-weight-semibold is-5 ml-3">
                                                {{ post.likes_counter }}
                                            </span>
                                        </button>
                                    </form>
                                </div>
                                <div class="column has-text-left">
                                    <form method="post" action="{% url 'video_hosting:dislike' post.pk %}">
                                        {% csrf_token %}
                                        <button class="button is-ghost has-text-white is-large {% if user in post.dislikes.all %} has-text-danger {% endif %}"
                                                type="submit">
                                            <ion-icon name="heart-dislike-outline"></ion-icon>
                                        </button>
                                    </form>
                                </div>

                                <!--                                ===================== СОХРАНИТЬ ==========   -->

                                <div class="column has-text-right">
                                    <form method="post" action="{% url 'video_hosting:saved_video' post.pk %}">
                                        {% csrf_token %}
                                        <button class="button is-ghost has-text-white is-large {% if user in post.saved_video.all %} has-text-success {% endif %}"
                                                type="submit">
                                            <ion-icon name="bookmarks-outline"></ion-icon>
                                        </button>
                                    </form>
                                </div>

                                <!--                                ==========    ОСТАЛЬНОЕ =============== -->

                                <div class="column has-text-right">
                                    <div class="dropdown is-hoverable mr-5">
                                        <div class="dropdown-trigger">
                                            <div class="subtitle has-text-white is-5 has-text-centered"
                                                 aria-haspopup="true"
                                                 aria-controls="dropdown-menu4">
                                                <span class="is-size-3">
                                                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="dropdown-menu" role="menu">
                                            <div class="dropdown-content background-black">
                                                <a href="{% url 'video_hosting:video' post.pk %}?action=viewing_queue"
                                                   class="navbar-item button is-ghost has-text-white">
                                                    Добавить в очередь просмотра
                                                </a>
                                                <a href="{% url 'video_hosting:complaint_form' %}?self=video&pk={{post.pk}}&video_page={{post.pk}}"
                                                   class="navbar-item button is-ghost has-text-white">
                                                    <ion-icon name="flag-outline"></ion-icon>
                                                    <span class="ml-3">Пожаловаться</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                =======================================          -->


                    </div>
                    <div class="subtitle has-text-white has-text-weight-semibold is-6">
                        Просмотры - {{ post.views_counter }}
                    </div>
                </div>

                <!--            ============ОПИСАНИЕ==================  -->
                <div class="box background-black">
                    <div class="container">
                        <div class="subtitle has-text-white has-text-weight-semibold is-6 is-left">
                            Опубликованно {{ post.date|timesince }} назад
                        </div>
                        <div class="subtitle has-text-white has-text-weight-semibold is-6 has-text-centered">
                            {{post.description}}
                        </div>
                    </div>
                </div>
                <!--            =================================       -->
            </div>

            <!--            =================================   РЕКОМЕНДАЦИИ ===========    -->

            <div class="column">
                <div class="box background-black">
                    <div class="title is-size-5 has-text-centered has-text-white">
                        В очереди на просмотр
                    </div>
                    {% for post_r in posts %}
                    <div class="card mt-3 background-black">
                        <div class="cart-content">
                            <a href="{% url 'video_hosting:video' post_r.video.pk %}?viewing=True">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="columns is-centered">
                                            <div class="column">
                                                <div class="container">
                                                    <img src="{{post_r.video.preview.url}}" alt=""
                                                         class="image is-centered post-imag">
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="title has-text-white is-5 mt-2">
                                                    {{ post_r.video.name }}
                                                </div>
                                                <div class="has-text-weight-semibold is-6 color-orange-icon has-text-centered">
                                                    {{ post_r.video.channel }}
                                                </div>
                                                <div class="has-text-white has-text-weight-semibold is-6">
                                                    {{ post_r.video.date|timesince }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!--            =============================================================-->

        </div>
        <!--        =========================       КОММЕНТАРИИ ==========================   -->

        <div class="box background-black">
            <!--        =========================      ОСТАВИТЬ КОММЕНТ =======================-->
            <button class="button is-medium is-ghost has-text-white" onclick="addCommentModal()">
                Оставить комментарий
            </button>

            <div class="modal mod_comment">
                <div class="modal-background" onclick="addCommentModal()"></div>
                <div class="modal-content">
                    <div class="box has-text-centered">
                        <form method="post" class="comment_edit site-form has-background-light"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form_comment }}
                            <div class="has-text-centered my-3">
                                <button class="button color-orange">Оставить комментарий</button>
                            </div>
                        </form>
                        <button class="button" onclick="removeCommentModal()">Отмена</button>
                    </div>
                </div>
                <div class="modal-close is-large" onclick="removeCommentModal()"></div>
            </div>


            <!--            =======================================================================-->
            <!--            ======================================== ОСНОВНЫЕ КОММЕНТАРИИ =============================-->
            {% if comments %}
            <div class="box mt-6 cart_comment background-black">
                {% for comment in comments %}
                <div class="cart">
                    <div class="columns">
                        <div class="column has-text-left">
                            <span class="subtitle has-text-white has-text-weight-semibold is-6 mr-6">
                                {{ comment.user }}
                            </span>
                            <span class="subtitle has-text-white has-text-weight-semibold is-6">
                                {{ comment.date|timesince }} назад
                            </span>
                        </div>
                        <div class="column has-text-right">
                            <div class="columns is-vcentered">
                                <div class="column has-text-right">
                                    <form method="post"
                                          action="{% url 'video_hosting:com_like' comment.pk %}">
                                        {% csrf_token %}
                                        <button class="button is-ghost has-text-white is-large {% if user in comment.com_likes.all %} has-text-success {% endif %} is-size-6"
                                                type="submit">
                                            <ion-icon name="heart-outline" class="is-small"></ion-icon>
                                            <span class="subtitle has-text-white  has-text-weight-semibold is-5 ml-3">
                                                {{ comment.com_likes_counter }}
                                            </span>
                                        </button>
                                    </form>
                                </div>
                                <div class="column has-text-left">
                                    <form method="post"
                                          action="{% url 'video_hosting:com_dislike' comment.pk %}">
                                        {% csrf_token %}
                                        <button class="button is-ghost has-text-white is-large {% if user in comment.com_dislikes.all %} has-text-danger {% endif %} is-size-6"
                                                type="submit">
                                            <ion-icon name="heart-dislike-outline"
                                                      class="is-small"></ion-icon>
                                        </button>
                                    </form>
                                </div>
                                <div class="column">
                                    <div class="dropdown is-hoverable">
                                        <div class="dropdown-trigger has-text-white">
                                            <ion-icon name="ellipsis-horizontal-outline" class="is-size-5"></ion-icon>
                                        </div>
                                        <div class="dropdown-menu" role="menu">
                                            <div class="dropdown-content background-black ">
                                                <a href="{% url 'video_hosting:complaint_form' %}?self=comment&pk={{comment.pk}}&video_page={{post.pk}}"
                                                   class="navbar-item button is-ghost has-text-white">
                                                    <ion-icon name="flag-outline"></ion-icon>
                                                    <span class="ml-3">Пожаловаться</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subtitle has-text-white has-text-weight-semibold is-5 m-3 has-text-centered">
                        {{comment.body}}
                    </div>

                    <div class="box has-text-centered is-hidden parent-comment-{{comment.pk}}">
                        <form method="post" class="site-form has-background-light parent-form"
                              enctype="multipart/form-data"
                              action="{% url 'video_hosting:video' post.pk %}?parent={{comment.pk}}">
                            {% csrf_token %}
                            {{ parent_form }}
                            <div class="has-text-centered my-3">
                                <button type="submit" class="button color-orange" data-pk="{{comment.pk}}"
                                        onclick="addComment(this.dataset.pk)">
                                    Оставить комментарий
                                </button>
                            </div>
                        </form>
                        <button class="button" data-pk="{{comment.pk}}" onclick="addComment(this.dataset.pk)">
                            Отмена
                        </button>
                    </div>
                </div>
                <!--                =================================    ОТВЕТЫ  =====================================   -->

                <div class="columns is-vcentered">
                    <div class="column has-text-left">
                        <button data-pk="{{comment.pk}}" onclick="toggleButParent(this.dataset.pk)"
                                class="button is-ghost subtitle has-text-white has-text-weight-semibold is-6">
                            Прочитать ответы
                            <ion-icon name="chevron-down-outline" class="ml-3"></ion-icon>
                        </button>
                    </div>
                    <div class="column has-text-right">
                        <button class="button is-ghost has-text-white is-large is-size-6" data-pk="{{comment.pk}}"
                                onclick="addComment(this.dataset.pk)">
                            <ion-icon name="chatbubbles-outline"></ion-icon>
                        </button>
                    </div>
                </div>

                <div class="cart-parent-{{comment.pk}} is-hidden cart-parent">
                    {% for parent in parent_comments %}
                    {% if parent.parent == comment %}
                    <div class="columns">
                        <div class="column">
                            <div class="subtitle has-text-white has-text-weight-semibold is-6">
                                <ion-icon name="return-down-forward-outline" class="mr-3"></ion-icon>
                                {{ parent.user }}
                                <span class="ml-6">
                                    {{ parent.date|timesince}} назад
                                </span>
                            </div>
                        </div>
                        <div class="column has-text-right is-one-fifth">
                            <div class="dropdown is-hoverable">
                                <div class="dropdown-trigger has-text-white">
                                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                                </div>
                                <div class="dropdown-menu" role="menu">
                                    <div class="dropdown-content background-black ">
                                        <a href="{% url 'video_hosting:complaint_form' %}?self=parent&pk={{parent.pk}}&video_page={{post.pk}}"
                                           class="navbar-item button is-ghost has-text-white">
                                            <ion-icon name="flag-outline"></ion-icon>
                                            <span class="ml-3">Пожаловаться</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="subtitle has-text-white has-text-weight-semibold is-5 m-3 has-text-centered">
                                <span class="has-text-info">
                                    {% if parent.self %}
                                    {{parent.self.user}}
                                    {% else %}
                                    {{ parent.parent.user }}
                                    {% endif %}
                                </span>
                                ,{{ parent.text }}
                            </div>
                        </div>
                        <div class="column has-text-right is-one-fifth">
                            <button class="button is-ghost has-text-white" data-pk="{{parent.pk}}"
                                    onclick="toggleParentForm(this.dataset.pk)">
                                <ion-icon name="chatbubbles-outline"></ion-icon>
                            </button>
                        </div>
                    </div>


                    <div class="box has-text-centered is-hidden par-comment-{{parent.pk}}">
                        <form method="post" class="site-form has-background-light parent-form"
                              enctype="multipart/form-data"
                              action="{% url 'video_hosting:video' post.pk %}?parent={{comment.pk}}&self={{parent.pk}}">
                            {% csrf_token %}
                            {{ parent_form }}
                            <div class="has-text-centered my-3">
                                <button type="submit" class="button color-orange" data-pk="{{parent.pk}}"
                                        onclick="toggleParentForm(this.dataset.pk)">
                                    Оставить комментарий
                                </button>
                            </div>
                        </form>
                        <button class="button" data-pk="{{parent.pk}}" onclick="toggleParentForm(this.dataset.pk)">
                            Отмена
                        </button>
                    </div>

                    {% endif %}
                    {% endfor %}
                </div>

                <!--                ==================================================================================    -->
                <hr class="dropdown-divider color-orange">
                {% endfor %}
            </div>
            {% endif %}
            <!--            =======================================================================================            -->
        </div>
</section>
{% endblock %}